.form {
  max-width: 385px;
  display: block;
}

.form__fieldset {
  max-width: 385px;
  border: 0;
}
.form__label {
  display: flex;
  margin-bottom: 8px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
.form__input {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  box-sizing: border-box;
  width: 100%;
  height: 60px;
  margin-bottom: 32px;
  border-radius: 4px;
  border-color: #838383;
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.form__button {
  font-family: "Inter";
  font-style: normal;
  justify-content: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #2f80ed;
  border-radius: 4px;
  border: none;
  height: 60px;
  width: 100%;
  margin-bottom: 32px;
}
.form__button:hover {
  opacity: 70%;
}

.form__group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-bottom: 120px;
}
.form__checkbox {
  width: 20px;
  height: 20px;
}
.form__label_right {
  margin-bottom: 0px;
}
