.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.logo {
  position: relative;
  height: 39px;
  width: 105px;
  margin-left: 30px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.menu {
  display: flex;
  justify-content: space-between;
  column-gap: normal;
  margin-right: 80px;
  list-style-type: none;
}

.nav_links {
  margin-top: 30px;
  margin-left: 20px;
}

/*-------------- Agregar estilos para el header */

.header {
  display: flex;
  background-image: url(../images/background_header.svg);
  background-size: cover;
  background-repeat: no-repeat;
  flex-direction: column;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  padding: 0;
}
.header__image {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 646px;
  height: 568px;
  top: 124px;
  right: 5px;
}
.header__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header__title {
  margin-top: 183px;
  max-width: 709px;
  margin-left: 80px;
}
.header__span {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: -1px;
}
.header__span-accent {
  font-family: "Noto Serif ", serif;
  font-size: 58px;
  font-style: italic;
  font-weight: normal;
  color: #2f80ed;
  line-height: 72px;
}
.header__description {
  font-family: "Noto Serif ", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  max-width: 683px;
  line-height: 30px;
  height: 80px;
  margin-left: 80px;
  margin-right: 0;
}

.header__footer {
  margin-top: auto;
  display: block;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  box-sizing: border-box;
}

.header__footer-text {
}
